.titluri button {
  background-color: rgb(58, 58, 58);
  width: 200px;
  border-left: 10px solid rgb(47, 47, 47);
  border-right: 10px solid rgb(47, 47, 47);
  padding: 10px;
  margin-top: 10px;
  color: rgb(159, 165, 165);
  font-weight: 600;
}

.titluri button:hover {
  background-color: rgb(35, 35, 35);
}

.slideshow-container {
  max-width: 1000px; /* Ajustează dimensiunea containerului după necesități */
  margin: auto;
}

.slide-mare {
  position: relative;
}

.slide-mare button {
  position: absolute;
  top: 50%;
  height: 40px;
  width: 35px;
  background-color: rgb(124, 124, 124);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-mare button:hover {
  background-color: rgba(184, 183, 183, 0.8);
}

.slide-mare button:nth-child(4) {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.slide-mare img {
  width: 100%; /* Asigură că imaginea ocupă întreaga lățime a containerului */
}

.slide-mic-js-1,
.slide-mic-js-2 {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* why choose me section */

.choose-me {
  margin-top: 30px;
}

footer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  background-color: rgb(19, 18, 19);
  height: 200px;
}

.contact-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer img {
  width: 30px;
}

.fb {
  text-align: right;
}
