.titluri div {
  display: inline-block;
  width: 200px;
  border: 1px solid black; /* Add a border to see the boundaries of the container */
  padding: 10px; /* Add padding for clarity */
  cursor: pointer;
}

.slide {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slideshow-container {
  max-width: 600px; /* Ajustează dimensiunea containerului după necesități */
  margin: auto;
}

img {
  width: 100%; /* Asigură că imaginea ocupă întreaga lățime a containerului */
}

/* why choose me section */

.choose-me {
  margin-top: 30px;
}

footer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  background-color: rgb(19, 18, 19);
  height: 200px;
}

.contact-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer img {
  width: 30px;
}

.fb {
  text-align: right;
}
